<div class="container">
    <div class="jumbotron">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<article>
					<p><a href="/news">&larr; voltar as notícias</a></p>
					<hr>
					<div class="news">
						{{#if data.news.image}}<img src={{data.news.image.url}} width=700 height=550 align=center>{{/if}}
					</div>
					<div class = "news">
						<center><h2>{{data.news.title}}</h2><br></center>
						<center><h3>{{data.news.subtitle}}</h3></center>
						<h5>
							{{{newsTypesList data.news.newsType prefix="Evento em "}}}
						</h5>
					</div>
					<div class="news" style = "white-space: initial; word-wrap: break-word; width: 700px;">
						<p lang="en" class="auto">{{{data.news.extended}}}</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>