<div class="container" >
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-8 col-md-9">
				<h4 class="text-weight-normal">Exibindo {{ data.news.results.length}} eventos.</h4>
				<div class="zupnews">
					{{# each data.news.results}}
						<div class="jumbotron">
							<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="news">
								<p class="lead text-muted">{{{newsTypesList newstypes prefix="Type in "}}}</p>
								{{#if image}}<img src={{image.url}} width=600 height=400>{{/if}}
								<center><h2 style="color:#000000;">{{{title}}}</h2></center>
								<center><h3 style="color:#000000;">{{{subtitle}}}</h3></center>
							</div>
							<p>{{{content.brief}}}</p>
							{{#if content.extended}}
								<p class="mais"><a href="{{newsUrl id}}">Mais...</a></p>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-sm-4 col-md-3"">
				<div class="list-group" >
				    <div>
					    <h3>Tipos de notícias</h3>
				    </div>
				    </br>
				    <a href="/events/events" class="active list-group-item">
					    <div
							<font  style = "color :white; font-weight: bold;">Todos os tipos de notícias </font>
						</div>
					</a>
					{{# each data.newstypes }}
					<a href="{{newsTypesUrl key}}" class="false list-group-item"><font>{{name}}</font> </a>
					{{/each}}
				</div>
			</div>
		</div>
		{{>newspagination}}
	</div>
</div>