<ul class="pagination">
    {{#if filters.newstype}}
	<li {{#unless data.news.previous}}class="disabled"{{/unless}}>
		<a href="{{newsPaginationPreviousWithTypeUrl data.news.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.news.pages data.news.currentPage data.news.totalPages}}}
	<li {{#unless data.news.next}}class="disabled"{{/unless}}>
		<a href="{{newsPaginationPreviousWithTypeUrl data.news.next}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
	{{else}}
		<li {{#unless data.news.previous}}class="disabled"{{/unless}}>
			<a href="{{newsPaginationPreviousUrl data.news.previous}}">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</li>
		{{{newsPaginationNavigation data.news.pages data.news.currentPage data.news.totalPages}}}
		<li {{#unless data.news.next}}class="disabled"{{/unless}}>
			<a href="{{newsPaginationNextUrl data.news.next}}">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</li>
	{{/if}}
</ul>